# IntelliJ IDEA specific files
.idea/
*.iws
*.iml
*.ipr

# Maven specific files
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# Ignore target directory
target/

# Java specific files
*.class
*.jar
*.war
*.ear

# OS specific files
.DS_Store
Thumbs.db

# Log files
*.log

# Temporary files
tmp/
temp/
*.tmp

# External properties
external.properties


